[Unit]
Description=IP_viewer_script(epd_4in01f)

[Service]
ExecStart=/opt/weather_forecast_viewer/epd_4in01f/show_ip.sh
OnBootSec=15s
Type=simple

[Install]
WantedBy=multi-user.target